<footer class="span8 mg-auto float-clear">
  <p class="text-center">Copyright ©2014 ArtStore, All rights reserved. <br>Design by <a href="http://dionysian.logdown.com" target=_new>Dionysian</a></p>
</footer>