<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, admin_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add a new product', new_admin_product_path %>