<h1>Index page</h1>


<table class="table">
	<tr>
		<td>Title</td>
		<td>Content</td>
		<td>Quantity</td>
	</tr>

	<% @product.each do |p| %>

	<tr>
		<td><%= p.title %> </td>
		<td><%= p[:description] %></td>
		<td><%= p.quantity %></td>
	</tr>

	<% end %>
</table>