/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

.container {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.product_item {
	display: inline-block;
	width: 200px;
	height: 270px;
	border: solid 1px gray;
}

.product_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px black;
	background-color: gray;
	height: 200px;
}

.page_title {
	font-size: 24px;
	font-weight: bold;
}