body
{
  padding-top: 60px;
}

.marketing
{
  .col-lg-4
  {
    margin-bottom: 20px;
    text-align: center;
    p
    {
      margin-left: 10px;
    }
  }
  h2
  {
    font-weight: normal;
  }
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  @media (min-width: 768px)
  {
      font-size: 50px;
  }
  @media (min-width: 992px) {
      margin-top: 120px;
  }
}